.content{
    width: fit-content;
    height: 100vh;
    max-height: 100%;
    background-color: #434242;
    color: white;
    margin: 0;
    padding: 1em 0em;
    ul{
        max-width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    li{
        width: 10em;
        align-items: center;
        max-width: 100%;
        height: 3em;
        text-transform: capitalize;
        cursor: pointer;
        display: flex;
        padding-left: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    li:hover{
        background-color:beige;
        color: blue;
        span{
            width: 5px;
            height: 3em;
            background-color: blue;
        }
    }
}