<div class="content">
    <h3>access management</h3>
    <h4>ankit yadav</h4>
    <div class="access">
        <input type="checkbox" name="access" id="">
        <label for="access">full access</label>
    </div>
    <div class="table">
        <ul class="first">
            <li class="head">
                page access
            </li>
            <li class="data">
                dashboard
            </li>
            <li class="data">
                manage products
            </li>
            <li class="data">
                promo codes
            </li>
            <li class="data">
                manage orders
            </li>
            <li class="data">
                delivery executives
            </li>
            <li class="data">
                manage shop owners
            </li>
        </ul>
        <ul class="rest">
            <li class="head">
                create 
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
        </ul>
        <ul class="rest">
            <li class="head">
                read
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
        </ul>
        <ul class="rest">
            <li class="head">
                update
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
        </ul>
        <ul class="rest">
            <li class="head">
                delete
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
            <li class="data">
                <input type="checkbox" name="" id="">
            </li>
        </ul>
    </div>
    
</div>
